<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>YourShoppingCart</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <script src="static/js/main.js" defer></script>
    <title>Codecool Shop</title>
</head>


<body>


<div>
    <div class="login-header">
        <h1 style="color: #2bb939; font-family: 'Arial Black',serif">YOUR CART </h1>
    </div>
    <div>
        <table>
            <tr>
                <th>
                    <td>PRODUCT NAME</td>
                    <td>PRICE</td>
                    <td>PIECES</td>
            </tr>
            <tr th:each="item,iterStat : ${items}">
                <td>
                    <img class="productImage" src="http://placehold.it/400x250/000/fff"
                         th:height="100"
                         th:width="120"
                         th:attr="src='/static/img/product_' + ${item.getProductId()} + '.jpg'" alt=""/>
                </td>
                <td  th:text="${item.getProductName()}">
                </td>
                <td th:text="${item.getProductPrice()}">

                </td>
                <td th:text="${item.getQuantity()}">
                </td>

            </tr>
            <tr>
                <td>TOTAL PRICE</td>
                <td th:text="${totalPrice}"></td>
            </tr>
        </table>
    </div>
    <div>
        <div class="row">
            <div class="col-75">
                <div class="container" id="containerForm" style="display: none;">
                    <form th:action="@{/checkout}" style="display: none" id="formCheckout">

                        <div class="row">
                            <div class="col-50">
                                <h3>Personal Information</h3>
                                <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                                <input type="text" id="fname" name="name"  required minlength="1" maxlength="64" th:value="${loggedUser.getName()}">
                                <label for="email"><i class="fa fa-envelope"></i> Email</label>
                                <input type="text" id="email" name="email"  th:value="${loggedUser.getEmail()}" required>
                                <label for="phone-number"><i class="fa fa-institution"></i> Phone Number</label>
                                <input type="text" id="phone-number" name="phone-number"  th:value="${loggedUser.getPhone_number()}">

                                <div class="row">
                                    <div class="col-50">
                                        <h3>Billing Address</h3>
                                        <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                                        <input type="text" id="adr" name="Baddress"  th:value="${loggedUser.getBilling_address()}" required minlength="12" maxlength="121">

                                        <div class="row">
                                            <div class="col-50">
                                                <label for="zip">Zip</label>
                                                <input type="text" id="zip" name="zipCodeBA"  th:value="${loggedUser.getBilling_zipcode()}" required minlength="5" maxlength="5">
                                            </div>
                                            <div class="col-50">
                                                <label for="country">Country</label>
                                                <input type="text" id="country" name="country"  th:value="${loggedUser.getBilling_country()}" required minlength="4" maxlength="32">
                                            </div>
                                            <div class="col-50">
                                                <label for="city">City</label>
                                                <input type="text" id="city" name="city"  th:value="${loggedUser.getBilling_city()}" required minlength="1" maxlength="85">
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            <div class="row">
                                <div class="col-50">
                                    <h3>Shipment Address</h3>
                                    <label for="adrShip"><i class="fa fa-address-card-o"></i> Address</label>
                                    <input type="text" id="adrShip" name="Saddress"  th:value="${loggedUser.getShipping_address()}" >

                                    <div class="row">
                                        <div class="col-50">
                                            <label for="zipShip">Zip</label>
                                            <input type="text" id="zipShip" name="Szip"  th:value="${loggedUser.getShipping_zipcode()}" >
                                        </div>
                                        <div class="col-50">
                                            <label for="countryShip">Country</label>
                                            <input type="text" id="countryShip" name="Scountry"  th:value="${loggedUser.getShipping_country()}" >
                                        </div>
                                        <div class="col-50">
                                            <label for="cityShip">City</label>
                                            <input type="text" id="cityShip" name="Scity"  th:value="${loggedUser.getShipping_city()}" >
                                        </div>
                                    </div>
                                        <button type="submit" value="Go To Payment" class="btn">Go to Payment!</button>
                                </div>
                            </div>
                        </div>

                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
            <button type="submit" class="btn btn-success"><a id="checkout-button">Checkout</a></button>
        <script src="static/js/main.js"></script>
    </div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>